.todo-footer {
    height: 40px;
    line-height: 40px;
    padding-left: 6px;
    margin-top: 5px;
  }

  .todo-footer button {
    float: right;
    margin-top: 5px;
  }

  .todo-header input {
    width: 560px;
    height: 38px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 7px;
  }
  
  .todo-header input:focus {
    outline: none;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  }

  .todo-main {
    margin-left: 0px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding-left: 5px;
    margin-top: 20px;
  }


  .btn-todo {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: inset 0 1px 0 rgb(255, 255, 255, 0.2), 0 1px 2px rgb(0, 0, 0, 0.05);
    border-radius: 4px;
  }
  
  .btn-danger {
    color: #ffffff;
    background-color: #da4f49;
    border: 1px solid #bd362f;
  }
  
  .btn-danger:hover {
    color: #ffffff;
    background-color: #bd362f;
  }
  
  .btn-todo:focus {
    outline: none;
  }
  
  .todo-container {
    width: 600px;
    margin: 0 auto;
  }
  
  .todo-container .todo-wrap {
    padding: 20px;
    border: 3px solid #000;
    border-radius: 10px;
    background-color: #FFF;
  }

  li {
    list-style: none;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    border-bottom: 1px solid #ddd;
  }
  
  li label {
    float: left;
    cursor: pointer;
  }
  
  li label li input {
    vertical-align: middle;
    margin-right: 6px;
    position: relative;
    top: -1px;
  }
  
  li button {
    float: right;
    display: none;
    margin-top: 3px;
  }
  
  li:before {
    content: initial;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li:hover {
    background-color: #ddd;
  }
  
  li:hover button {
    display: block;
  }
/* 
  <!-- <ul class="todo-main">
  <li>
      <label>
          <input type="checkbox" />
          <span>烫头</span>
      </label>
      <button class="btn-todo btn-danger">删除</button>
  </li>
  <li>
      <label>
          <input type="checkbox" />
          <span>喝酒</span>
      </label>
      <button class="btn-todo btn-danger">删除</button>
  </li>
  <li>
      <label>
          <input type="checkbox" />
          <span>抽烟</span>
      </label>
      <button class="btn-todo btn-danger">删除</button>
  </li>
</ul> --> */